data/
images/
AnimetricsBackup/
MicrosoftBackup/
SkybiometryBackup/

*_cache/

*_files/

GoogleBackup/

*.Rproj
*.Rproj.user/
.user
presentationETX2550.html

presentationETX2550.pdf

presentationETX2550.Rmd

~$search Checklist.docx
\.Rhistory
